:root {
    --background-color: #FCC8D1;
    --primary-text: #D14D72;
    --secondary-text: #7A4E58;
    --button-background: #D14D72;
    --button-text: #FFFFFF;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: var(--secondary-text);
    background-color: var(--background-color);
}

header {
    width: 100%;
    height: 5rem;
    background-color: var(--secondary-text);
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: var(--primary-text);
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
}

h2 {
    text-align: center;
    font-weight: 700;
}

#calculateBtn {
    align-self: center;
    margin-top: 4rem;
    border: var(--button-text) 0.1rem solid;
    border-radius: 30px;
    padding: 0.8rem 0.8rem;
    width: 11rem;
    background-color: var(--button-background);
    color: var(--button-text);
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

footer {
    width: 100%;
    height: 3rem;
    background-color: var(--secondary-text);
}

